<div class="panel">
	<div class="inner">
		<div class="content">
			<h2>{L_ACTIVITY} ({COUNTDOWN})</h2>
			<div class="inner">
				<div class="travel_location">
					<p>{TRAVEL_WIDGET_START_LOCATION_TYPE} {TRAVEL_WIDGET_START_LOCATION_NAME}, {TRAVEL_WIDGET_START_LOCATION_PROVINCE} ({TRAVEL_WIDGET_START_LOCATION_COUNTRY})</p>
				</div>
				<div class="travel_middle">
					<div style="font-size:3em;">&#8694;</div>
				</div>
				<div class="travel_location">
					<p>{TRAVEL_WIDGET_END_LOCATION_TYPE} {TRAVEL_WIDGET_END_LOCATION_NAME}, {TRAVEL_WIDGET_END_LOCATION_PROVINCE} ({TRAVEL_WIDGET_END_LOCATION_COUNTRY})</p>
				</div>
			</div>
			<span><a href="{GO_TO_INFORMATION}" class="button2">{L_INFORMATION}</a></span>
		</div>
	</div>
</div>
