<!-- INCLUDE overall_header.html -->

<div id="consim_darkenwrapper" data-ajax-error-title="AJAX-Fehler" data-ajax-error-text="Bei der Verarbeitung deiner Anfrage ist ein Fehler aufgetreten." data-ajax-error-text-abort="Der Benutzer hat die Anfrage abgebrochen." data-ajax-error-text-timeout="Bei deiner Anfrage ist eine Zeitüberschreitung aufgetreten. Bitte versuche es erneut." data-ajax-error-text-parsererror="Bei deiner Anfrage ist etwas falsch gelaufen und der Server hat eine ungültige Antwort zurückgegeben.">
	<div id="consim_darken">&nbsp;</div>
</div>

<h2>{L_CONSIM}</h2>

<div class="inner">
	<div class="field_top">
		<div class="panel">
			<p>
				<span class="left_column">{L_LOCATION}{L_COLON} <a href="{USER_LOCATION_URL}">{USER_LOCATION} ({USER_LOCATION_TYPE})</a>, 
					<a href="#" class="province_map">{USER_PROVINCE} ({USER_COUNTRY})</a>
				</span><span class="middle_column">{L_WEATHER} <img src="{WEATHER_IMAGE}" height="32px">{OWM_ERROR}<br>
					{TEMPERATURE}°C / {WEATHER}<br>{L_WIND}: {WIND_SPEED} km/h, {WIND_DIRECTION}°
				</span><span class="right_column">{L_TIME}{L_COLON} {TIME}<br>
					{L_ANNIVERSARY_TODAY}: {ANNIVERSARY_TODAY}<!-- IF ANNIVERSARY_TODAY == "" -->{L_ANNIVERSARY_NONE}<!-- ENDIF --><br>
					{L_ANNIVERSARY_TOMORROW}: {ANNIVERSARY_TOMORROW}<!-- IF ANNIVERSARY_TOMORROW == "" -->{L_ANNIVERSARY_NONE}<!-- ENDIF --></span>
			</p>
		</div>
	</div>

	<div class="field_left">
		<div class="panel">
			<div class="inner">
				<div class="content">
					<h2>{L_INVENTORY}</h2>
					<fieldset class="fields2">
						<!-- BEGIN inventory -->
						<dl>
							<dt><label>{inventory.NAME} {L_COLON}</label></dt>
							<dd>{inventory.VALUE} {inventory.SHORT_NAME}</dd>
						</dl>
						<!-- END inventory -->
					</fieldset>
				</div>
			</div>
		</div>
	</div>

	<div class="field_right">
		<div class="panel">
			<div class="inner">
				<div class="content">
					<h2>{L_EXPERIENCE_POINTS}</h2>
					<fieldset class="fields2">
						<dl>
							<dt><label>{L_EXPERIENCE_POINTS}{L_COLON}</label></dt>
							<dd>{USER_EXPERIENCE_POINTS}</dd>
						</dl>
					</fieldset>
				</div>
			</div>
		</div>

		<!-- BEGIN user_skill_groups -->
		<div class="panel">
			<div class="inner">
				<div class="content">
					<h2>{user_skill_groups.NAME}</h2>
					<fieldset class="fields2">
						<!-- BEGIN user_skill_groups.skills -->
						<dl>
							<dt><label>{user_skill_groups.skills.NAME}{L_COLON}</label></dt>
							<dd>{user_skill_groups.skills.VALUE}</dd>
						</dl>
						<!-- END user_skill_groups.skills -->
					</fieldset>
				</div>
			</div>
		</div>
		<!-- END user_skill_groups -->
	</div>

<!-- INCLUDEJS @consim_core/js/register.js -->
