<!-- INCLUDE overall_header.html -->

<!-- IF S_ANONYMOUS -->
<h2>{L_REGISTER}</h2>
<div class="panel">
	<div class="inner">
		<h2>{L_ERROR_ANONYMOUS}</h2>
		<div class="content">
			<p class="error">{L_ANONYMOUS_EXPLAIN}</p>
		</div>
	</div>
</div>
<!-- ELSE -->
<form method="post" action="{U_ACTION}" id="post">

<h2>{L_REGISTER}</h2>
<div class="panel">
	<div class="inner">
		<h2>{L_PERSON}</h2>
		<div class="content">

			<!-- IF S_ERROR --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->

			 <fieldset>
				<dl>
					<dt><label>{L_VORNAME}</label></dt>
					<dd><input class="inputbox autowidth" type="text" name="vorname" id="vorname" size="50" tabindex="3" value="{VORNAME}" /></dd>
				</dl>
				<dl>
					<dt><label>{L_NACHNAME}</label></dt>
					<dd><input class="inputbox autowidth" type="text" name="nachname" id="nachname" size="50" tabindex="4" value="{NACHNAME}" /></dd>
				</dl>
				<dl>
					<dt><label>{L_GESCHLECHT}</label></dt>
					<dd><select name="geschlecht" id="geschlecht">
							<option value="">Wähle...</option>
							<!-- BEGIN geschlecht -->
								<option value="{geschlecht.WERT}" <!-- IF geschlecht.SELECTED -->selected="selected"<!-- ENDIF -->>{geschlecht.NAME}</option>
							<!-- END geschlecht -->
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{L_GEBURTSLAND}</label></dt>
					<dd><select name="geburtsland" id="geburtsland">
							<option value="">Wähle...</option>
							<!-- BEGIN geburtsland -->
							<option value="{geburtsland.WERT}" <!-- IF geburtsland.SELECTED -->selected="selected"<!-- ENDIF -->>{geburtsland.NAME}</option>
							<!-- END geburtsland -->
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{L_RELIGION}</label></dt>
					<dd><select name="religion" id="religion">
							<option value="">Wähle...</option>
							<!-- BEGIN religion -->
							<option value="{religion.WERT}" <!-- IF religion.SELECTED -->selected="selected"<!-- ENDIF -->>{religion.NAME}</option>
							<!-- END religion -->
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{L_HAARFARBE}</label></dt>
					<dd><select name="haarfarbe" id="haarfarbe">
							<option value="">Wähle...</option>
							<!-- BEGIN haarfarbe -->
							<option value="{haarfarbe.WERT}" <!-- IF haarfarbe.SELECTED -->selected="selected"<!-- ENDIF -->>{haarfarbe.NAME}</option>
							<!-- END haarfarbe -->
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{L_AUGENFARBE}</label></dt>
					<dd><select name="augenfarbe" id="augenfarbe">
							<option value="">Wähle...</option>
							<!-- BEGIN augenfarbe -->
							<option value="{augenfarbe.WERT}" <!-- IF augenfarbe.SELECTED -->selected="selected"<!-- ENDIF -->>{augenfarbe.NAME}</option>
							<!-- END augenfarbe -->
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{L_BESONDERE_MERKMALE}</label></dt>
					<dd><select name="besondere_merkmale" id="besondere_merkmale">
							<option value="">Wähle...</option>
							<!-- BEGIN besondere_merkmale -->
							<option value="{besondere_merkmale.WERT}" <!-- IF besondere_merkmale.SELECTED -->selected="selected"<!-- ENDIF -->>{besondere_merkmale.NAME}</option>
							<!-- END besondere_merkmale -->
						</select>
					</dd>
				</dl>
			</fieldset>
		</div>
	</div>
</div>
<div class="panel">
	<div class="inner">
		<h2>{L_ATTRIBUTE}</h2>
		<div class="content" id="attribute">
			<fieldset>
				<dl>
					<dt><label class="bigger">{L_FREIE_PUNKTE}</label></dt>
					<dd><span class="bigger bolder" id="free_points">{FREIE_PUNKTE}</span></dd>
				</dl>
			</fieldset>
		</div>
	</div>
</div>
<!-- BEGIN skill_groups -->
<div class="panel">
	<div class="inner">
		<h2>{skill_groups.NAME}</h2>
		<div class="content" id="attribute">
			<fieldset>
				<!-- BEGIN skills -->
				<dl>
					<dt><label>{skill_groups.skills.NAME}</label></dt>
					<dd>
						<input class="inputbox autowidth" type="number" name="{skill_groups.skills.ID}" id="{skill_groups.skills.ID}" <!-- IF skill_groups.skills.IS_LANG -->data-lang="{skill_groups.skills.COUNTRY_ID}"<!-- ENDIF --> size="3" tabindex="11" value="{skill_groups.skills.VALUE}" max="100" min="1" />
						<!-- IF skills.IS_LANG --><span id="lang_{skill_groups.skills.ID}" class="bolder" style="display:none;">{L_ADD_25_LANG}</span><!-- ENDIF -->
					</dd>
				</dl>
				<!-- END skills -->
			</fieldset>
		</div>
	</div>
</div>
<!-- END skill_groups -->
<div class="panel">
	<div class="inner">
		<div class="content">
			<fieldset class="submit-buttons">
				<input type="submit" tabindex="26" name="submit" class="button1" value="{L_PERSON_ERSTELLEN}" />
			</fieldset>
		</div>
	</div>
	{S_FORM_TOKEN}
</div>

</form>
<!-- ENDIF -->

<!-- INCLUDEJS @consim_core/js/register.js -->
<!-- INCLUDE overall_footer.html -->
