<!-- INCLUDE consim_header.html -->

<div class="field_center">
    <div class="panel">
    	<div class="inner">
            <div class="content">
                <h2>{BUILDING} {BUILDING_NAME} ({LOCATION})<h2>
                <div class="inner">
                    <p class="location_desc">Schönes Gebäude...</p>
                    <div class="location_image"><img src="{BOARD_URL}ext/consim/core/images/stadt.png" /></div>
                </div>
                <br /><br />

                <ul class="buildinglist">
                    <li>
                        <dl>
                            <dt class="building">Aktion 1</dt>
                            <dd class="action"><a name="travel" class="button2">Betreten</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt class="building">Aktion 2</dt>
                            <dd class="action"><a name="travel" class="button2">Betreten</a></dd>
                        </dl>
                    </li>
                </ul>
                <br /><br />
            </div>
        </div>
    </div>
</div>

<br style="clear:both" />

<!-- INCLUDE consim_footer.html -->
