<!-- INCLUDE consim_header.html -->

<div class="field_center panel-container">
	<div class="panel">
		<div class="inner">
			<div class="content">
				<h2>{WORK_NAME} (<!-- IF IS_WORKING -->{WORK_TIME}<!-- ELSE -->{L_FINISHED}<!-- ENDIF-->)</h2>
				<p>Kleine Beschreibung...</p>
			</div>
			<table class="table1 responsive">
				<thead>
				<tr>
					<th>Art</th>
					<th>Wert</th>
					<th>Ergebnis</th>
				</tr>
				</thead>
				<tbody>
					<tr class="bg3 big-column">
						<td>{L_CONDITIONS} ({L_MIN_SKILL})</td>
						<td class="center ">{WORK_CONDITION_ALL}</td>
						<td class="center"><!-- IF IS_WORK_FINISHED -->{WORK_RESULT_ALL}<!-- ELSE -->?<!-- ENDIF --></td>
					</tr>
					<!-- IF WORK_CONDITION_1_VALUE -->
					<tr class="bg1">
						<td class="indent">{WORK_CONDITION_1_TYPE} ({WORK_CONDITION_1_VALUE})</td>
						<td class="center">{WORK_CONDITION_1_TRIALS}</td>
						<td class="center"><!-- IF IS_WORK_FINISHED -->{WORK_RESULT_1}<!-- ELSE -->?<!-- ENDIF --></td>
					</tr>
					<!-- ENDIF -->
					<!-- IF WORK_CONDITION_2_VALUE -->
					<tr class="bg2">
						<td class="indent">{WORK_CONDITION_2_TYPE} ({WORK_CONDITION_2_VALUE})</td>
						<td class="center">{WORK_CONDITION_2_TRIALS}</td>
						<td class="center"><!-- IF IS_WORK_FINISHED -->{WORK_RESULT_2}<!-- ELSE -->?<!-- ENDIF --></td>
					</tr>
					<!-- ENDIF -->
					<!-- IF WORK_CONDITION_3_VALUE -->
					<tr class="bg1">
						<td class="indent">{WORK_CONDITION_3_TYPE} ({WORK_CONDITION_3_VALUE})</td>
						<td class="center">{WORK_CONDITION_3_TRIALS}</td>
						<td class="center"><!-- IF IS_WORK_FINISHED -->{WORK_RESULT_3}<!-- ELSE -->?<!-- ENDIF --></td>
					</tr>
					<!-- ENDIF -->
					<tr class="bg3 big-column">
						<td colspan="3">{L_OUTPUT}</td>
					</tr>
					<!-- BEGIN work_outputs -->
					<tr class="bg1">
						<td class="indent">{work_outputs.TYPE}</td>
						<td class="center"><!-- BEGIN work_outputs.types --><!-- IF not work_outputs.types.S_FIRST_ROW -->/<!-- ENDIF -->{work_outputs.types.VALUE}<!-- END work_outputs.types --></td>
						<td class="center"><!-- IF IS_WORK_FINISHED -->{work_outputs.VALUE}<!-- ELSE -->?<!-- ENDIF --></td>
					</tr>
					<!-- END work_outputs -->
					<tr class="bg3">
						<td>{L_EXPERIENCE_POINTS}</td>
						<td class="center">{WORK_EXPERIENCE_POINTS}</td>
						<td class="center"><!-- IF IS_WORK_FINISHED -->{WORK_EXPERIENCE}<!-- ELSE -->?<!-- ENDIF --></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- IF IS_CONFIRM_FINISH -->
	<div class="panel">
		<div class="inner">
			<form method="post" action="{U_FINISH}">
				<fieldset class="submit-buttons">
					{S_HIDDEN_FIELDS}
					<input type="submit" value="{L_FINISH}" class="button2" />
					{S_FORM_TOKEN}
				</fieldset>
			</form>
		</div>
	</div>
	<!-- ENDIF -->

	<div class="panel">
		<div class="inner">
			<fieldset class="submit-buttons">
				<a href="{U_OVERVIEW}" class="button2" >{L_BACK_TO} {L_OVERVIEW}</a>
			</fieldset>
		</div>
	</div>
</div>

<br style="clear:both" />

<!-- INCLUDE consim_footer.html -->
