<!-- INCLUDE consim_header.html -->

<div class="field_center">
    <div class="panel">
    	<div class="inner">
            <div class="content">
                <h2>{LOCATION} ({LOCATION_TYPE}), {L_PROVINCE} {PROVINCE} ({COUNTRY})</h2>
                <p class="location_desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="location_image"><img src="http://localhost/phpbb3.1/ext/consim/core/images/stadt.png" width="200"/></div>
                <br class="clear" />
                <br /><br />
                <form method="post" action="{U_ACTION}" id="post">
                <select name="destination" id="destination">
                    <option value="">Wähle...</option>
                    <!-- BEGIN destination -->
                    <option value="{destination.ID}">{destination.NAME} ({destination.TYPE}), {destination.PROVINCE} in {destination.COUNTRY}</option>
                    <!-- END destination -->
                </select>
                    <fieldset class="submit-buttons">
        				<input type="submit" tabindex="1" name="travel" class="button1" value="Reisen" />
        			</fieldset>
                </form>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <form method="post" action="{U_ACTION}" id="post">
                    <fieldset class="submit-buttons">
        				<input type="submit" tabindex="2" name="delete" class="button1" value="Profil löschen" />
        			</fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<br style="clear:both" />

<!-- INCLUDE overall_footer.html -->
