<!-- INCLUDECSS @consim_core/../theme/consim.css -->
<!-- INCLUDE overall_header.html -->

<div id="consim_darkenwrapper" data-ajax-error-title="AJAX-Fehler" data-ajax-error-text="Bei der Verarbeitung deiner Anfrage ist ein Fehler aufgetreten." data-ajax-error-text-abort="Der Benutzer hat die Anfrage abgebrochen." data-ajax-error-text-timeout="Bei deiner Anfrage ist eine Zeitüberschreitung aufgetreten. Bitte versuche es erneut." data-ajax-error-text-parsererror="Bei deiner Anfrage ist etwas falsch gelaufen und der Server hat eine ungültige Antwort zurückgegeben.">
	<div id="consim_darken">&nbsp;</div>
</div>

<h2>{L_REGISTER}</h2>

<div class="inner">
	<div class="field_top">
		<div class="panel">
			<p>
				{L_TIME}{L_COLON} {TIME}<br />
				{L_LOCATION}{L_COLON} <a href="{USER_LOCATION_URL}">{USER_LOCATION} ({USER_LOCATION_TYPE})</a>, {USER_PROVINCE} ({USER_COUNTRY})
			</p>
		</div>
		
		<!-- IF S_NEWSTICKER -->
		<span class="vRefresh hidden">{VREFRESH}</span>
		<div class="panel panel-news" style="border: 2px solid {CHANNEL_BACKGROUND};">
			<div class="news">
				<div class="channel" style="color: {CHANNEL_COLOR}; background: {CHANNEL_BACKGROUND};">
					{CHANNEL}
					<span class="topic" style="display: none;">
					</span>
				</div>
				<div class="newsticker">
					<ul class="newsticker-list">
						<!-- BEGIN allNews -->
						<li class="newsticker-item" data-topic="{allNews.TOPIC}">{allNews.CONTENT}</li>
						<!-- END allNews -->
					</ul>
				</div>
			</div>
		</div>
		<!-- ENDIF -->
	</div>

	<div class="field_left">
		<div class="panel">
			<div class="inner">
				<div class="content">
					<h2>{L_INVENTORY}</h2>
					<fieldset class="fields2">
						<!-- BEGIN inventory -->
						<dl>
							<dt><label>{inventory.NAME} {L_COLON}</label></dt>
							<dd>{inventory.VALUE} {inventory.SHORT_NAME}</dd>
						</dl>
						<!-- END inventory -->
					</fieldset>
				</div>
			</div>
		</div>
	</div>

	<div class="field_right">
		<div class="panel">
			<div class="inner">
				<div class="content">
					<h2>{L_ATTRIBUTE}</h2>
					<fieldset class="fields2">
						<dl>
							<dt><label>{L_SPRACHE_TADSOWISCH}{L_COLON}</label></dt>
							<dd>{SPRACHE_TADSOWISCH}</dd>
						</dl>
						<dl>
							<dt><label>{L_SPRACHE_BAKIRISCH}{L_COLON}</label></dt>
							<dd>{SPRACHE_BAKIRISCH}</dd>
						</dl>
						<dl>
							<dt><label>{L_SPRACHE_SURANISCH}{L_COLON}</label></dt>
							<dd>{SPRACHE_SURANISCH}</dd>
						</dl>
						<dl>
							<dt><label>{L_RHETORIK}{L_COLON}</label></dt>
							<dd>{RHETORIK}</dd>
						</dl>
						<dl>
							<dt><label>{L_WIRTSCHAFT}{L_COLON}</label></dt>
							<dd>{WIRTSCHAFT}</dd>
						</dl>
						<dl>
							<dt><label>{L_ADMINISTRATION}{L_COLON}</label></dt>
							<dd>{ADMINISTRATION}</dd>
						</dl>
						<dl>
							<dt><label>{L_TECHNIK}{L_COLON}</label></dt>
							<dd>{TECHNIK}</dd>
						</dl>
						<dl>
							<dt><label>{L_NAHKAMPF}{L_COLON}</label></dt>
							<dd>{NAHKAMPF}</dd>
						</dl>
						<dl>
							<dt><label>{L_SCHUSSWAFFEN}{L_COLON}</label></dt>
							<dd>{SCHUSSWAFFEN}</dd>
						</dl>
						<dl>
							<dt><label>{L_SPRENGMITTEL}{L_COLON}</label></dt>
							<dd>{SPRENGMITTEL}</dd>
						</dl>
						<dl>
							<dt><label>{L_MILITARKUNDE}{L_COLON}</label></dt>
							<dd>{MILITARKUNDE}</dd>
						</dl>
						<dl>
							<dt><label>{L_SPIONAGE}{L_COLON}</label></dt>
							<dd>{SPIONAGE}</dd>
						</dl>
						<dl>
							<dt><label>{L_SCHMUGGEL}{L_COLON}</label></dt>
							<dd>{SCHMUGGEL}</dd>
						</dl>
						<dl>
							<dt><label>{L_MEDIZIN}{L_COLON}</label></dt>
							<dd>{MEDIZIN}</dd>
						</dl>
						<dl>
							<dt><label>{L_UBERLEBENSKUNDE}{L_COLON}</label></dt>
							<dd>{UBERLEBENSKUNDE}</dd>
						</dl>
					</fieldset>
				</div>
			</div>
		</div>
	</div>

<!-- INCLUDEJS @consim_core/js/register.js -->
<!-- INCLUDEJS @consim_core/js/news.js -->
