<!-- INCLUDE overall_header.html -->

<div id="consim_darkenwrapper" data-ajax-error-title="AJAX-Fehler" data-ajax-error-text="Bei der Verarbeitung deiner Anfrage ist ein Fehler aufgetreten." data-ajax-error-text-abort="Der Benutzer hat die Anfrage abgebrochen." data-ajax-error-text-timeout="Bei deiner Anfrage ist eine Zeitüberschreitung aufgetreten. Bitte versuche es erneut." data-ajax-error-text-parsererror="Bei deiner Anfrage ist etwas falsch gelaufen und der Server hat eine ungültige Antwort zurückgegeben.">
	<div id="consim_darken">&nbsp;</div>
</div>

<h2>{L_CONSIM}</h2>

<div class="inner">
	<div class="field_top">
		<div class="panel">
			<p>
				<!-- IF IS_LOCATION_WIDGET -->
					<!-- INCLUDE widget/location.html -->
				<!-- ENDIF -->

				<!-- INCLUDE widget/weather.html -->
				<!-- INCLUDE widget/anniversary.html -->

			</p>
		</div>
	</div>

	<div class="field_left">
		<!-- IF .inventory_widget -->
			<!-- INCLUDE widget/inventory.html -->
		<!-- ENDIF -->
	</div>

	<div class="field_right">

		<!-- IF IS_USER_EXPERIENCE_WIDGET -->
			<!-- INCLUDE widget/user_experience.html -->
		<!-- ENDIF -->

		<!-- IF .user_skill_groups -->
			<!-- INCLUDE widget/user_skill.html -->
		<!-- ENDIF -->
	</div>
<!-- INCLUDEJS @consim_core/js/register.js -->
