<!-- INCLUDE consim_header.html -->

<div class="field_center">
	<div class="panel">
		<div class="inner">
			<div class="content">
				<h2>{BUILDING_TYP} {BUILDING_NAME} ({LOCATION})</h2>
				<div class="inner">
					<p class="location_desc">{BUILDING_DESCRIPTION}</p>
					<div class="location_image"><img src="{BOARD_URL}ext/consim/core/images/stadt.png" /></div>
				</div>
				<br /><br />
				<ul class="worklist">
				<!-- BEGIN works -->
					<li>
						<form method="post" action="{S_WORK_ACTION}" >
							<dl>
								<dt class="title">{works.NAME} ({works.DURATION})</dt>
								<dd><strong>{L_CONDITIONS}{L_COLON}</strong>
									<ul class="conditionlist">
										<!-- IF works.CONDITION_1_VALUE -->
										<li>
											{works.CONDITION_1_TYPE} ({works.CONDITION_1_TRIALS}){L_COLON} {works.CONDITION_1_VALUE}
										</li>
										<!-- ENDIF -->
										<!-- IF works.CONDITION_2_VALUE -->
										<li>
											{works.CONDITION_2_TYPE} ({works.CONDITION_2_TRIALS}){L_COLON} {works.CONDITION_2_VALUE}
										</li>
										<!-- ENDIF -->
										<!-- IF works.CONDITION_3_VALUE -->
										<li>
											{works.CONDITION_3_TYPE} ({works.CONDITION_3_TRIALS}){L_COLON} {works.CONDITION_3_VALUE}
										</li>
										<!-- ENDIF -->
										<!-- IF not works.CONDITION_1_VALUE and not works.CONDITION_2_VALUE and not works.CONDITION_3_VALUE -->
										<li>
											{L_NOTHING}
										</li>
										<!-- ENDIF -->
									</ul>
								</dd>
								<dd><strong>{L_OUTPUT}{L_COLON}</strong>
									<ul class="outputlist">
										<!-- IF works.outputs -->
											<!-- BEGIN works.outputs -->
											<li>
												{works.outputs.TYPE}{L_COLON} <!-- BEGIN works.outputs.types --><!-- IF not works.outputs.types.S_FIRST_ROW -->/<!-- ENDIF -->{works.outputs.types.VALUE}<!-- END works.outputs.types -->
											</li>
											<!-- END works.outputs -->
										<!-- ELSE -->
											<li>
												{L_NOTHING}
											</li>
										<!-- ENDIF -->
									</ul>
								</dd>
								<dd><strong>{L_EXPERIENCE_POINTS}{L_COLON}</strong> <!-- IF works.EXPERIENCE_POINTS -->{works.EXPERIENCE_POINTS}<!-- ELSE -->{L_NOTHING}<!-- ENDIF --></dd>
								<!-- IF works.CAN_WORK -->{works.S_HIDDEN_FIELDS}
								<dd class="action"><input type="submit" value="{L_ACCEPT}" class="button2" /></dd>
								{S_FORM_TOKEN}
								<!-- ENDIF -->
							</dl>
							</form>
					</li>
				<!-- END works -->
				</ul>
				<br /><br />
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="inner">
			<form method="post" action="{U_ACTION}">
				<fieldset class="submit-buttons">
					<a href="{BACK_TO_LOCATION}" class="button2" >{L_BACK_TO} {LOCATION}</a>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<br style="clear:both" />

<!-- INCLUDE consim_footer.html -->
