<!-- INCLUDE consim_header.html -->

<div class="field_center">
    <div class="panel">
    	<div class="inner">
            <div class="content">
                <h2>{BUILDING_TYP} {BUILDING_NAME} ({LOCATION})</h2>
                <div class="inner">
                    <p class="location_desc">{BUILDING_DESCRIPTION}</p>
                    <div class="location_image"><img src="{BOARD_URL}ext/consim/core/images/stadt.png" /></div>
                </div>
                <br /><br />

                <ul class="buildinglist">
                    <li>
                        <dl>
                            <dt class="building">Aktion 1</dt>
                            <dd class="action"><a name="travel" class="button2">Machen</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt class="building">Aktion 2</dt>
                            <dd class="action"><a name="travel" class="button2">Machen</a></dd>
                        </dl>
                    </li>
                </ul>
                <br /><br />
            </div>
        </div>
    </div>

    <div class="panel">
    	<div class="inner">
            <form method="post" action="{U_ACTION}" id="post">
                <fieldset class="submit-buttons">
                    <a href="{BACK_TO_LOCATION}" class="button2" >{L_BACK_TO} {LOCATION}</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<br style="clear:both" />

<!-- INCLUDE consim_footer.html -->
