<!-- INCLUDE consim_header.html -->

<div class="field_center">
	<div class="panel">
		<div class="inner">
			<div class="content">
				<h2>{WORK_NAME} ({WORK_TIME})</h2>
				<div class="inner">
					<p>Kleine Beschreibung...</p>
					<p><strong>{L_CONDITION}{L_COLON}</strong> <!-- IF WORK_CONDITION_VALUE -->{WORK_CONDITION_TYPE} ({WORK_CONDITION_VALUE})<!-- ELSE -->{L_NOTHING}<!-- ENDIF --></p>
					<p><strong>{L_OUTPUT}{L_COLON}</strong> <!-- IF WORK_OUTPUT_VALUE -->{WORK_OUTPUT_TYPE} ({WORK_OUTPUT_VALUE})<!-- ELSE -->{L_NOTHING}<!-- ENDIF --></p>
				</div>
			</div>
		</div>
	</div>
	<!-- IF IS_CONFIRM_FINISH -->
	<div class="panel">
		<div class="inner">
			<form method="post" action="{U_FINISH}">
				<fieldset class="submit-buttons">
					{S_HIDDEN_FIELDS}
					<input type="submit" value="{L_FINISH}" class="button2" />
					{S_FORM_TOKEN}
				</fieldset>
			</form>
		</div>
	</div>
	<!-- ENDIF -->

	<div class="panel">
		<div class="inner">
			<fieldset class="submit-buttons">
				<a href="{U_OVERVIEW}" class="button2" >{L_BACK_TO} {L_OVERVIEW}</a>
			</fieldset>
		</div>
	</div>
</div>

<br style="clear:both" />

<!-- INCLUDE consim_footer.html -->
