<!-- INCLUDE consim_header.html -->

<div class="field_center">

	<!-- IF IS_WORKING -->
	<div class="panel">
		<div class="inner">
			<div class="content">
				<h2>{L_ACTIVITY} ({WORK_TIME})</h2>
				<p>{WORK_NAME} in {WORK_BUILDING_TYPE}<!-- IF BUILDING_NAME --> "{WORK_BUILDING_NAME}"<!-- ENDIF -->, {WORK_LOCATION_NAME}.</p>
				<span><a href="{GO_TO_INFORMATION}" class="button2">{L_INFORMATION}</a></span>
			</div>
		</div>
	</div>
	<!-- ELSE IF IS_TRAVELING -->
	<div class="panel">
		<div class="inner">
			<div class="content">
				<h2>{L_ACTIVITY} ({COUNTDOWN})</h2>
				<div class="inner">
					<div class="travel_location">
						<p>{START_LOCATION_TYPE} {START_LOCATION_NAME}, {START_LOCATION_PROVINCE} ({START_LOCATION_COUNTRY})</p>
					</div>
					<div class="travel_middle">
						<div style="font-size:3em;">&#8694;</div>
					</div>
					<div class="travel_location">
						<p>{END_LOCATION_TYPE} {END_LOCATION_NAME}, {END_LOCATION_PROVINCE} ({END_LOCATION_COUNTRY})</p>
					</div>
				</div>
				<span><a href="{GO_TO_INFORMATION}" class="button2">{L_INFORMATION}</a></span>
			</div>
		</div>
	</div>
	<!-- ENDIF -->

	<div class="panel">
		<div class="inner">
			<div class="content">
				<h2>{LOCATION} ({LOCATION_TYPE}), {L_PROVINCE} {PROVINCE} ({COUNTRY})</h2>
				<div class="inner">
					<p class="location_desc">{LOCATION_DESC}</p>
					<div class="location_image"><img src="{BOARD_URL}ext/consim/core/images/{LOCATION_IMAGE}" /></div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="inner">
			<div class="content">
				<h2>{L_BUILDINGS}</h2>
				<div class="inner">
					<ul class="buildinglist">
					<!-- BEGIN buildings -->
						<li>
							<dl>
								<dt class="building">{buildings.TYPE} {buildings.NAME}</dt>
								<dd class="action"><a href="{buildings.URL}" class="button2">Betreten</a></dd>
							</dl>
						</li>
					<!-- END buildings -->
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- IF CAN_TRAVEL -->
	<div class="panel">
		<div class="inner">
			<fieldset class="submit-buttons">
				<input type="submit" tabindex="1" name="travel" class="button1" value="Reisen" />
			</fieldset>
		</div>
	</div>
	<!-- ENDIF -->

	<div class="panel">
		<div class="inner">
			<form method="post" action="{U_ACTION}" id="post">
				<fieldset class="submit-buttons">
					<input type="submit" tabindex="2" name="delete" class="button1" value="Profil löschen" />
				</fieldset>
			</form>
		</div>
	</div>

</div>



<!-- IF CAN_TRAVEL -->
<div id="travel_popup" class="consim_popup">
	<a href="#" class="popup_close"></a>
	<h2 class="popup_title">Reisen</h2>
	<div class="popup_text">
		<p>
			<img src="{BOARD_URL}ext/consim/core/images/map.jpeg" width="750"  height="350"/>
		</p>
		<form method="post" action="{U_ACTION}" id="action_post">
		<ul class="travellist">
			<!-- BEGIN destination -->
			<li>
				<dl>
					<dt class="travelname"><a href="{destination.URL}">{destination.NAME} ({destination.TYPE})</a></dt>
					<dd class="travelprovince">{destination.PROVINCE}</dd>
					<dd class="travelcountry">{destination.COUNTRY}</dd>
					<dd class="traveltime">{destination.TIME}</dd>
					<dd class="action"><a href="{destination.ACTION}" name="travel" class="button2">Reisen</a></dd>
				</dl>
			</li>
			<!-- END destination -->
		</ul>
		</form>
	</div>
</div>
<!-- ENDIF -->

<!-- INCLUDE consim_footer.html -->
